philo/a.out
philo/.DS_Store
philo/cmake-build-debug
philo/.idea
philo/test/*
philo/test
philo/.vscode
philo/obj
philo/README.md
philo/philo
philo_bonus/a.out
philo_bonus/.DS_Store
philo_bonus/cmake-build-debug
philo_bonus/.idea
philo_bonus/test/*
philo_bonus/test
philo_bonus/.vscode
philo_bonus/obj
philo_bonus/README.md
philo_bonus/philo_bonus
.DS_Store
